body {
    background: url("https://www.wallpapertip.com/wmimgs/228-2286285_football-picture.jpg");
}

.leagueDiv {
  margin-top: 300px;
}

p {
    font-size: 18px;
}

button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    cursor: pointer;
}

button:focus {
    outline: none;
}
